{% extends 'base.html.twig' %}

{% block title %}Consulta{% endblock %}

{% block body %}
    <div class="container">

        <h2 class="mt-5">Consulta al Núcleo Académico Posgrado</h2>
        <h3 class="text-secondary">Posgrado Conjunto en Ciencias Matemáticas UNAM UMSNH</h3>

        <div class="row mt-5">
            <div class="col-12 col-lg-8">
                <p class="text-justify">En la reunión del CAC del del 27 de enero del 2022 se aprobó la decisión de que cada curso tendrá un único
                    profesor responsable y es al único que se dará constancia de haber impartido dicho curso, lo cual aún
                    permite a otros profesores a contribuir al curso, pero sin reconocimiento oficial de parte del PCCM.<br><br>
                    El motivo de este cuestionario es recabar la opinión del NAB a favor o en contra de esta disposición. </p>
                <p class="text-justify">¿Considera usted pertinente que dos profesores del PCCM puedan impartir un curso conjuntamente siendo
                    ambos responsables del curso?
                    En caso de estar de acuerdo por favor indique los motivos académicos para hacerlo, y cuales considera
                    que son los requisitos que debe reunir un curso para que esto sea posible.
                    En caso de estar en desacuerdo por favor indique las razones, y las posibles alternativas que propone
                    para este tipo de casos.
                </p>
                <p class="text-justify">
                    Cabe señalar que existen algunos antecedentes en el PCCM de cursos que han sido impartidos por más de
                    un profesor como responsable; en dichos casos uno de los profesores ha sido registrado en el sistema
                    de la UNAM y el otro en la plataforma de la UMSNH.
                </p>
                <p class="text-justify">
                    En el caso de que dos profesores de la UMSNH impartieran un curso de manera conjunta, no podrían ser
                    registrados ambos en la plataforma de la UMSNH y solo uno de ellos podría registrar el curso e
                    incluirlo en su correspondiente plan de trabajo.
                </p>

                <div class="alert alert-info mt-5">
                    El proceso consulta consiste en dos partes: <br>
                    <strong>Emitir un voto</strong> a favor o en contra de la nueva disposición y
                    en un segundo paso podrá participar con <strong>comentarios anónimos</strong> al respecto.
                </div>
            </div>
        </div>

        <div class="row my-5">
            <p>Ingrese su correo electrónico para recibir la dirección de consulta.</p>
            <div class="col-12 col-lg-4">
                {{ form(form) }}
            </div>
        </div>

    </div>
{% endblock %}
