{% extends 'base.html.twig' %}

{% block title %}Comentario index{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="mt-5">Consulta al Núcleo Académico Posgrado</h2>
        <h3 class="text-secondary">Posgrado Conjunto en Ciencias Matemáticas UNAM UMSNH</h3>

        <a class="btn btn-outline-success mt-5" role="button" href="{{ path('app_comentario_new') }}"><i class="bi bi-pencil"></i> Agregar comentario</a>

        {% if comentarios|length == 0 %}
            <div class="empty">
                <div class="display-6">Aún no hay comentarios</div>
            </div>
        {% else %}
            <table class="table my-5">
                <thead></thead>
                <tbody>
                {% for comentario in comentarios %}
                    <tr>
                        <td class="py-4">
                            <div class="d-flex flex-column my-3">

                                <div>{{ comentario.nombre }}</div>
                                {% if comentario.fecha %}
                                    <div class="text-secondary fecha-comentario">
                                        {{ comentario.fecha|ago }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="comentario">{{ comentario.comentario | raw }}</div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
{% endblock %}
