{% extends 'base.html.twig' %}

{% block title %}Consulta PCCM - comentario{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Comentario</h1>

        {{ include('comentario/_form.html.twig') }}

{#        <a href="{{ path('app_comentario_index') }}">back to list</a>#}
    </div>
{% endblock %}
