{% extends 'base.html.twig' %}

{% block title %}Consulta PCCM - comentario{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-5">Consulta al Núcleo Académico Posgrado</h2>
        <h3 class="text-secondary">Posgrado Conjunto en Ciencias Matemáticas UNAM UMSNH</h3>

        <div class="row mt-5">
            <div class="col-12 col-md-8">
                <div class="alert alert-info">Los comentarios son anónimos. El nombre es opcional</div>
            </div>
        </div>

        {{ include('comentario/_form.html.twig') }}
    </div>
{% endblock %}
